.theme-toggle {
  align-items: center;
  background-color: var(--color-background);
  border-radius: 50%;
  box-shadow: var(--shadow);
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

