@use './mixin' as m;

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.page{
  max-width: 1200px;
  width: calc(100% - 4rem);
  padding: 20px 30px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: var(--shadow);
  background-color: var(--main-background);
  @include m.mobile{
    width: 100%;
    padding: 5%;
    border-radius: 0;
    box-shadow: none;
  }
}

